.content {
    width: 90%;
    margin: 6rem auto;
}

.content h2 {
    font-family: "Fira Code";
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
    margin: 0rem auto 5rem ;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 414px) {
    .content {
        margin: 3rem auto;
    }

    .content h2 {
        margin-bottom: 3rem;
    }
}