.content {
    width: 53rem;
    margin: 6rem auto;
}

.content h2 {
    font-family: "Fira Code";
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
    text-align: start;
    margin: 0rem auto 5rem ;
}