.categoryBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 24rem;
    height: 3.75rem;
    background-color: #4A2C6F;
    margin-bottom: 1.25rem;
}

.categoryBox .categoryName {
    font-family: "Fira Code";
    font-size: 1rem;
    font-weight: 500;
    color: #C69AFF;
    margin-left: 1.25rem;
}
