.categoryBox {
    margin-bottom: 1.25rem;
    position: relative;
}

.categoryBox input[type="radio"] {
    position: absolute;
    width: 0;
    opacity: 0;
}

.categoryBox label {
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    width: 22.75rem;
    height: 3.75rem;
    background-color: #4A2C6F;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #C69AFF;
    cursor: pointer;
}

.categoryBox label:hover {
    background-color: #65438F;
}

.categoryBox input[type="radio"]:checked+label {
    background-color: white;
    color: #382156;
}

@media only screen and (max-width: 768px) {
    .categoryBox label {
        width: 92%;
    }
}

@media only screen and (max-width: 414px) {
    .categoryBox label {
        text-align: start;
    }
}

