.content {
    width: 47.625rem;
    margin: auto;
}

.content h1 {
    font-family: "Fira Code";
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    text-shadow: #702B9B 0.5rem 0.5rem;
}

.gridContainer {
    display: grid;
    grid-template: 100% / 19.75rem 29rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}