.content {
    margin-top: 14rem;
}

.mainHeader {
    font-family: "Fira Code";
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: #702B9B 0.5rem 0.5rem;
    margin: 2.5rem;
}

.subheader {
    font-family: "Fira Code";
    font-size: 2.25rem;
    font-weight: 400;
    color: white;
    text-shadow: #702B9B 0.5rem 0.5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 414px) {
    .content {
        margin: 4rem 0.2rem 0;
    }

    .mainHeader {
        font-size: 2.5rem;
    }

    .subheader {
        font-size: 1.8rem;
    }
}